
body {
  background-color:#023963;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

.canvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1rem solid #0c5790;
}

.storyline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 31.3rem;
  width: 20rem;
  margin-right: 1rem;
  border-left: 1rem solid #0c5790;
}

p {
  width: 15em;
  text-align: justify;
}

h3{
  font-size: 2rem;
  text-align: center;
}

img {
  width: 8em;
}